<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITRI DP</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<style>
  /* label {
    font-family: 'Fredoka One', cursive;
  } */
  h1,h2 {
    font-family: 'Fredoka One', cursive;
  }

  nav * {
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Alfa Slab One', cursive; */
    font-family: 'Fredoka One', cursive;
    /* font-weight: 400; */
  }

  body {
    /* background-color: #fff7f8; */
    background-color: #fff;
  }

  .navbar-custom { 
    background-color: #60bfff; 
  } 

  h2 {
    /* text-decoration: underline; */
    box-shadow: 0 3px;
    padding-bottom:5px;
  }

  #logout {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .invalid {
    color: red;
  }

</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="monitor.html">
      <img src="assets/horus-eye.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      DP OAM
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/dpSet.html">DP Config<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/monitor.html">Monitor</a>
        <a class="nav-item nav-link" href="/bsList.html">eNB List</a>
        <a class="nav-item nav-link disabled" href="#">Debug</a>
      </div>
    </div>
    <a id="logout" href="index.html">logout</a>
  </nav>
  <div id="app" class="container">
    <h1 style="text-align: center; margin-top: 3em;">ITRI Domain Proxy Configuration</h1>
    <div class="row my-5">
      <div class="col mx-4">
        <h2>SAS</h2>
        <div class="form-group">
          <label for="usr"><strong>SAS URL</strong></label><input type="text" class="form-control" id="sasurl" v-model="sasip" v-if="cfg.sas !== undefined">
          <!-- <label for="usr"><strong>SAS URL</strong></label><input type="text" class="form-control" id="sasurl"> -->
        </div>
        <div class="form-group">
          <label for="usr"><strong>SAS port</strong></label><input type="text" class="form-control" id="sasport" v-model="sasport" disabled>
        </div>
        <h2>CPI</h2>
        <div class="form-group">
          <label style="display:block;" for="usr"><strong>support CPI signed</strong></label>
          <input type="checkbox" data-toggle="toggle" v-model="cpi" v-if="cfg.sas !== undefined">
        </div>
        <div class="form-group">
          <label for="usr"><strong>CPI certificate key</strong></label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" @change="cpiCertKeyUpload" accept=".key">
            <label class="custom-file-label" for="inputGroupFile01">Choose file: [cpicertprivkey.key]</label>
            <div class="invalid" v-if="false">Already uploaded file</div>
          </div>
        </div>
      </div>
      <div class="col mx-4">
        <!-- <h2>MYSQL</h2>
        <div class="form-group">
          <label for="usr"><strong>MYSQL user account</strong></label><input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="usr"><strong>MYSQL password</strong></label><input type="text" class="form-control" id="usr">
        </div> -->
        <h2>CERTIFICATE</h2>
        <div class="form-group">
          <label for="usr"><strong>root CA</strong></label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" @change="rootCaUpload" accept=".pem">
            <label class="custom-file-label" for="inputGroupFile01">Choose file: [server.pem]</label>
            <div class="invalid" v-if="false">Example invalid custom file feedback</div>
          </div>
        </div>
        <div class="form-group">
          <label for="usr"><strong>DP private key</strong></label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" @change="dpPrivateKeyUpload" accept=".key">
            <label class="custom-file-label" for="inputGroupFile01">Choose file: [client.key]</label>
            <div class="invalid" v-if="false">Example invalid custom file feedback</div>
          </div>
        </div>
        <div class="form-group">
          <label for="usr"><strong>DP certificate</strong></label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" @change="dpCertUpload" accept=".pem">
            <label class="custom-file-label" for="inputGroupFile01">Choose file: [client.pem]</label>
            <div class="invalid" v-if="false">Example invalid custom file feedback</div>
          </div>
        </div>
      </div>
    </div>
    <center><button class="btn btn-primary" @click="applyConfig">Apply</button></center>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script src="/dpSet.js"></script>
</body>
</html>